.DS_Store
.~lock.*
*.dep
I*.swp
*.bak
*.save
*.lnk
__pycache__
*.pyc
Thumbs.db


*.log
*.echo
*.3mf

times.txt

.vscode/

documents/*
!documents/MarlinConfiguration.md
!documents/klipper_btt_skr_v1_4.cfg

scad/target.scad
scad/bom.scad
scad/stlimporttemp
scad/stlimport/eva
scad/stlimport/jubilee
scad/stlimport/voron

tests.*
tests/*.*
tests/bom
tests/deps
tests/png/*
tests/tmp
!tests/*.scad
!tests/extra/*.scad
# change to !, except for diffs, once released
//!tests.md
//!tests/png/*.png
tests/png/*_diff.png

pictures/*
!pictures/MC_front.jpg
!pictures/MC_left.jpg
!pictures/MC_back.jpg
!pictures/MC_right.jpg
!pictures/MC_top.jpg
!pictures/MC_wiring.jpg
!pictures/MaybeCube-2021-12-08_1000.jpg
!pictures/MaybeCube300_1000.jpg
!pictures/shaper_calibrate_x.png
!pictures/shaper_calibrate_y.png
!pictures/social_preview.png

M5/

nuts/

jigs/assemblies/*
jigs/bom/
jigs/dxfs/*
jigs/stls/*
jigs/tmp/
jigs/*.html
jigs/*.md
#!jigs/readme.md
#!jigs/assemblies/main_assembled.png
#!jigs/assemblies/*.png
#!jigs/dxfs/*.dxf
#!jigs/dxfs/*.png
#!jigs/stls/*.stl
#!jigs/stls/*.png
jigs/assemblies/*_diff.png
jigs/dxfs/*_diff.png
jigs/stls/*_diff.png

EVA/assemblies/*
EVA/bom/
EVA/dxfs/*
EVA/stls/*
EVA/tmp/
EVA/*.html
EVA/*.md
!EVA/readme.md
#!EVA/assemblies/main_assembled.png
!EVA/assemblies/*.png
#!EVA/dxfs/*.dxf
#!EVA/dxfs/*.png
#!EVA/stls/*.stl
!EVA/stls/*.png
EVA/assemblies/*_diff.png
EVA/dxfs/*_diff.png
EVA/stls/*_diff.png

XChange/assemblies/*
XChange/bom/
XChange/dxfs/*
XChange/stls/*
XChange/tmp/
XChange/*.html
XChange/*.md
!XChange/readme.md
#!XChange/assemblies/main_assembled.png
!XChange/assemblies/*.png
#!XChange/dxfs/*.dxf
#!XChange/dxfs/*.png

#!XChange/stls/*.stl
!XChange/stls/*.png
XChange/assemblies/*_diff.png
XChange/dxfs/*_diff.png
XChange/stls/*_diff.png

JubileeToolChanger/assemblies/*
JubileeToolChanger/bom/
JubileeToolChanger/dxfs/*
JubileeToolChanger/stls/*
JubileeToolChanger/tmp/
JubileeToolChanger/*.html
JubileeToolChanger/*.md
#!JubileeToolChanger/readme.md
!JubileeToolChanger/assemblies/JubileeToolChanger_assembled.png
#!JubileeToolChanger/assemblies/*.png
#!JubileeToolChanger/dxfs/*.dxf
#!JubileeToolChanger/dxfs/*.png

#!JubileeToolChanger/stls/*.stl
#!JubileeToolChanger/stls/*.png
JubileeToolChanger/assemblies/*_diff.png
JubileeToolChanger/dxfs/*_diff.png
JubileeToolChanger/stls/*_diff.png


KinematicBed/assemblies/*
KinematicBed/bom/
KinematicBed/dxfs/*
KinematicBed/stls/*
KinematicBed/tmp/
KinematicBed/*.html
KinematicBed/*.md
#!KinematicBed/readme.md
!KinematicBed/assemblies/KinematicBed_assembled.png
#!KinematicBed/assemblies/*.png
#!KinematicBed/dxfs/*.dxf
#!KinematicBed/dxfs/*.png

#!KinematicBed/stls/*.stl
#!KinematicBed/stls/*.png
KinematicBed/assemblies/*_diff.png
KinematicBed/dxfs/*_diff.png
KinematicBed/stls/*_diff.png


MC250/assemblies/*
MC250/bom/
MC250/dxfs/*
MC250/stls/*
MC250/tmp/
MC250/*.html
# change to !, except for _diff, .stl, and .dxf, once released
!MC250/readme.md
!MC250/assemblies/main_assembled.png
#!MC250/assemblies/*.png
#!MC250/dxfs/*.dxf
#!MC250/dxfs/*.png
#!MC250/stls/*.stl
#!MC250/stls/*.png
MC250/assemblies/*_diff.png
MC250/dxfs/*_diff.png
MC250/stls/*_diff.png

MC290/

MC300/assemblies/*
MC300/bom/
MC300/dxfs/*
MC300/stls/*
MC300/tmp/
MC300/*.html
# change to !, except for _diff, .stl, and .dxf, once released
!MC300/readme.md
!MC300/assemblies/main_assembled.png
!MC300/assemblies/*.png
#!MC300/dxfs/*.dxf
!MC300/dxfs/*.png
#!MC300/stls/*.stl
!MC300/stls/*.png
MC300/assemblies/*_diff.png
MC300/dxfs/*_diff.png
MC300/stls/*_diff.png

MC350_25/

MC350/assemblies/*
MC350/bom/
MC350/dxfs/*
MC350/stls/*
MC350/tmp/
MC350/*.html
# change to !, except for _diff, .stl, and .dxf, once released
!MC350/readme.md
!MC350/assemblies/*.png
!MC350/assemblies/main_assembled.png
#!MC350/dxfs/*.dxf
!MC350/dxfs/*.png
#!MC350/stls/*.stl
!MC350/stls/*.png
MC350/assemblies/*_diff.png
MC350/dxfs/*_diff.png
MC350/stls/*_diff.png

MC400/assemblies/*
MC400/bom/
MC400/dxfs/*
MC400/stls/*
MC400/tmp/
MC400/*.html
# change to !, except for _diff, .stl, and .dxf, once released
!MC400/readme.md
!MC400/assemblies/main_assembled.png
#!MC400/assemblies/*.png
#!MC400/dxfs/*.dxf
#!MC400/dxfs/*.png
#!MC400/stls/*.stl
#!MC400/stls/*.png
MC400/assemblies/*_diff.png
MC400/dxfs/*_diff.png
MC400/stls/*_diff.png

MC400KB/*.*
MC400KB/assemblies/*
MC400KB/bom/
MC400KB/dxfs/*
MC400KB/stls/*
MC400KB/tmp/
!MC400KB/readme.md
!MC400KB/assemblies/main_assembled.png
