.DS_Store
.~lock.*
*.dep
I*.swp
*.bak
*.save
*.lnk
__pycache__
*.pyc
Thumbs.db


*.log
*.echo
*.3mf

times.txt

.vscode/
scad/target.scad
scad/bom.scad
scad/stlimporttemp

tests.*
tests/*.*
tests/bom
tests/deps
tests/png/*
!tests/*.scad
!tests/extra/*.scad
# change to !, except for diffs, once released
//!tests.md
//!tests/png/*.png
tests/png/*_diff.png


jigs/assemblies/*
jigs/bom/
jigs/dxfs/*
jigs/stls/*
jigs/tmp/
jigs/*.html
jigs/*.md
#!jigs/readme.md
#!jigs/assemblies/main_assembled.png
#!jigs/assemblies/*.png
#!jigs/dxfs/*.dxf
#!jigs/dxfs/*.png
!jigs/stls/*.stl
!jigs/stls/*.png
jigs/assemblies/*_diff.png
jigs/dxfs/*_diff.png
jigs/stls/*_diff.png


MC250/assemblies/*
MC250/bom/
MC250/dxfs/*
MC250/stls/*
MC250/tmp/
MC250/*.html
# change to !, except for diffs, once released
!MC250/readme.md
!MC250/assemblies/main_assembled.png
#!MC250/assemblies/*.png
#!MC250/dxfs/*.dxf
#!MC250/dxfs/*.png
#!MC250/stls/*.stl
#!MC250/stls/*.png
MC250/assemblies/*_diff.png
MC250/dxfs/*_diff.png
MC250/stls/*_diff.png

MC300/assemblies/*
MC300/bom/
MC300/dxfs/*
MC300/stls/*
MC300/tmp/
MC300/*.html
# change to !, except for diffs, once released
!MC300/readme.md
!MC300/assemblies/main_assembled.png
!MC300/assemblies/*.png
!MC300/dxfs/*.dxf
!MC300/dxfs/*.png
!MC300/stls/*.stl
!MC300/stls/*.png
MC300/assemblies/*_diff.png
MC300/dxfs/*_diff.png
MC300/stls/*_diff.png

MC350/assemblies/*
MC350/bom/
MC350/dxfs/*
MC350/stls/*
MC350/tmp/
MC350/*.html
# change to !, except for diffs, once released
!MC350/readme.md
#!MC350/assemblies/*.png
!MC350/assemblies/main_assembled.png
#!MC350/dxfs/*.dxf
#!MC350/dxfs/*.png
#!MC350/stls/*.stl
#!MC350/stls/*.png
MC350/assemblies/*_diff.png
MC350/dxfs/*_diff.png
MC350/stls/*_diff.png

MC400/assemblies/*
MC400/bom/
MC400/dxfs/*
MC400/stls/*
MC400/tmp/
MC400/*.html
# change to !, except for diffs, once released
!MC400/readme.md
!MC400/assemblies/main_assembled.png
#!MC400/assemblies/*.png
#!MC400/dxfs/*.dxf
#!MC400/dxfs/*.png
#!MC400/stls/*.stl
#!MC400/stls/*.png
MC400/assemblies/*_diff.png
MC400/dxfs/*_diff.png
MC400/stls/*_diff.png
